game/Story/goals.raw
game/Story/log.txt
game/Story/story_ac.dat
game/Story/story_orphanqueries_found.txt
game/Story/story_orphanqueries_ignore.txt
game/Story/story.div
game/Story/story.div.osi
resource/Stats/Generated/Data/Passive.txt
resource/Stats/Generated/Data/Spell_Shout.txt
resource/Stats/Generated/Data/Status_BOOST.txt
resource/Stats/Generated/Data/Status_SNEAKING.txt
resource/Stats/Generated/Data/Spell_Target.txt
resource/Stats/Generated/Data/Spell_Projectile.txt
resource/Stats/Generated/Data/Status_DOWNED.txt
resource/Stats/Generated/Data/Status_KNOCKED_DOWN.txt
resource/Stats/Generated/Data/Data.txt
resource/Stats/Generated/Data/Spell_Throw.txt
resource/ActionResourceDefinitions/ActionResourceDefinitions.lsx
resource/Stats/Generated/Data/Weapon.txt
resource/Stats/Generated/Data/Spell_Zone.txt
resource/Stats/Generated/Data/Interrupt.txt
resource/Lists/PassiveLists.lsx
resource/Progressions/ProgressionDescriptions.lsx
resource/Progressions/Progressions.lsx
resource/Levelmaps/LevelMapValues.lsx
resource/Lists/SpellLists.lsx
행동아이콘
자원아이콘
resource/Stats/Generated/Data/Spell_Rush.txt
resource/Stats/Generated/Data/Character.txt
resource/Stats/Generated/Data/Status_POLYMORPHED.txt
resource/Shapeshift/Rulebook.lsx
**.DDS
